# Исключите временные файлы и директории
node_modules
npm-debug.log
yarn-error.log

# Исключите файлы и директории, связанные с Git
.git
.gitignore

# Исключите файлы конфигурации Nest.js (если они хранятся в корне проекта)
ormconfig.json
tsconfig.json
nest-cli.json

# Исключите файлы для локальной разработки
.env

# Исключите другие временные и неиспользуемые файлы
.DS_Store
*.swp
